$darkBlue: #2A324B;
$greyBlue: #58699D;
$lightGrey: #E1E5EE;
$white: #fff;
$black: #000;

$caribbeanCurrent: #38686A;
$ashGray: #AFBFC0;
$cerulean: #2D728F;
$violet: #4D2D52;
$persianRed: #C44536;




