// CSS for å gjøre grid-en til en enkelt rad hvis skjermen er 699 eller mindre piksler.

@media (max-width: 700px) {
    .grid {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .item {
        img {
            width: 40%;
        }
    }
}
